[Unit]
Description=Protogotchi
After=multi-user.target

[Service]
ExecStart=/home/martin/protogotchi
Restart=always

[Install]
WantedBy=multi-user.target
